{% extends "Base/base.html" %}
{% load staticfiles %}

<!-- Activo en el menu: -->
{% block activaciones-li %} active {% endblock %}
{% block titulo %}{% if cliente == "" %}Activaciones{% else %}Cliente {{cliente.nombre}}{% endif %}{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						{% if cliente == "" %}
							<h1>Todas las Activaciones</h1>
						{% else %}
							<h1>Cliente {{cliente.nombre}}</h1>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							{% if cliente != "" %}
								<li class="active">{{cliente.nombre}}</li>
							{% else %}
								<li class="active">Activaciones</li>
							{% endif %}
						</ol>
					</div>
				</div>
			</div>
		</div>




		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-8">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-one">
									<div class="stat-icon dib"><i class="ti-blackboard text-primary border-primary"></i></div> <!--success/primary/warning/danger   ti-layout-grid2 -->
									<div class="stat-content dib">
										<div class="stat-text">Activaciones totales</div>
										<div class="stat-digit">{{activaciones.count}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-8">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-one">
									<div class="stat-icon dib"><i class="ti-blackboard text-warning border-warning"></i></div>
									<div class="stat-content dib">
										<div class="stat-text">Activaciones pendientes</div>
										<div class="stat-digit">{{pendientes}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% if cliente != "" %}
						<div class="col-lg-4 col-md-6 col-sm-8">
							<div class="card">
								<div class="card-body">
									<div class="stat-widget-one">
										<div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div> <!--success/primary/warning/danger -->
										<div class="stat-content dib">
											<div class="stat-text">Venta total</div>
											<div class="stat-digit">{{venta}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					
				</div>


				
				
				


				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Activaciones</strong>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="card-body">
										<button type="button" class="btn btn-outline-success" onclick="location.href='{% url "agregar_activacion" %}{% if cliente != "" %}?cliente={{cliente.idCliente}}{% endif %}'"><i class="fa fa-plus-circle"></i>&nbsp; Agregar activación</button>
										<button type="button" class="btn btn-outline-primary" onclick="mostrar()"><i class="ti-pencil-alt"></i>&nbsp; Editar activaciones</button>
									</div>
								</div>
					  <table id="bootstrap-data-table" class="table table-striped table-bordered">
						<thead>
						  <tr>
							{% for titulo in titulos %}
								<th>{{titulo}}</th>
							{% endfor %}
						  </tr>
						</thead>
						<tbody>
							{% for activacion in activaciones %}
								<tr>
									<th scope="row" id="td_{{activacion.idActivacion}}">
										{{activacion.idActivacion}}
										<a style="visibility:hidden" href='{% url "editar_activacion" %}?activacion={{activacion.idActivacion}}{% if cliente != "" %}&cliente={{cliente.idCliente}}{% endif %}' ><i class="ti-pencil-alt text-primary"></i></a>
										<a style="visibility:hidden" href="javascript:void(0)" onclick="eliminar('{{activacion.nombre}}', '{{activacion.idActivacion}}');" ><i class="fa fa-minus-circle text-danger"></i></a>
									</th>
									{% if cliente == "" %}
										<td><a href="{% url 'activaciones' %}?cliente={{activacion.Cliente.idCliente}}">{{activacion.Cliente.nombre}}</a></td>
									{% endif %}
									<td><a href="{% url 'eventos' %}?activacion={{activacion.idActivacion}}">{{activacion.nombre}}</a></td>
									<td>{{activacion.monto}}</td>
									<td>{{activacion.descripcion}}</td>
								</tr>
							{% endfor %}
						</tbody>
					  </table>
							</div>
						</div>
					</div>
				</div>

				{% if cliente != "" %}
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-8">
							<div class="card">
								<div class="card-body">
									<div class="stat-widget-one">
										<div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
										<div class="stat-content dib">
											<div class="stat-text">Contactos</div>
											<div class="stat-digit">{{contactos.count}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<strong class="card-title">Contactos</strong>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="card-body">
											<button type="button" class="btn btn-outline-success" onclick="location.href='{% url "agregar_contacto" %}?cliente={{cliente.idCliente}}'"><i class="fa fa-plus-circle"></i>&nbsp; Agregar contacto</button>
											<button type="button" class="btn btn-outline-primary" onclick="mostrar2()"><i class="ti-pencil-alt"></i>&nbsp; Editar contactos</button>
										</div>
									</div>
						  <table id="bootstrap-data-table" class="table table-striped table-bordered">
							<thead>
							  <tr>
								{% for titulo in titulos_contactos %}
									<th scope="col">{{titulo}}</th>
								{% endfor %}
							  </tr>
							</thead>
							<tbody>
								{% for contacto in contactos %}
									<tr>
										<th scope="row" id="td_contacto_{{contacto.idContacto}}">
										{{contacto.idContacto}}
										<a style="visibility:hidden" href='{% url "editar_activacion" %}?activacion={{activacion.idActivacion}}' ><i class="ti-pencil-alt text-primary"></i></a>
										<a style="visibility:hidden" href="javascript:void(0)" onclick="eliminar('{{activacion.nombre}}', '{{activacion.idActivacion}}');" ><i class="fa fa-minus-circle text-danger"></i></a>
									</th>
										<td>{{contacto.nombre}}</td>
										<!--<td>{{contacto.Cliente.nombre}}</td>-->
										<!--<td>{% if contacto.rut != None %}{{contacto.rut}}{% else %} - {% endif %}</td>-->
										<td>{% if contacto.telefono != None %}{{contacto.telefono}}{% else %} - {% endif %}</td>
										<td>{% if contacto.mail != None %}{{contacto.mail}}{% else %} - {% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
						  </table>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


	<script type="text/javascript">
		function mostrar() {
			
			var botones, i;
			{% for activacion in activaciones %}
				botones = document.getElementById("td_" + {{activacion.idActivacion}}).children;
				for (i=0; i<botones.length; i++) {
					if (botones[i].style.visibility == "hidden") {
						botones[i].style.visibility = "visible";
					}
					else {
						botones[i].style.visibility = "hidden";
					}
				}
			{% endfor %}
		}

		function mostrar2() {
			
			var botones, i;
			{% for contacto in contactos %}
				botones = document.getElementById("td_contacto_" + {{contacto.idContacto}}).children;
				for (i=0; i<botones.length; i++) {
					if (botones[i].style.visibility == "hidden") {
						botones[i].style.visibility = "visible";
					}
					else {
						botones[i].style.visibility = "hidden";
					}
				}
			{% endfor %}
		}
	</script>

	<button id="eliminar" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">Small</button>

	<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="h5_eliminar" class="modal-title" id="smallmodalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="p_eliminar">
						
					</p>
				</div>
				<div class="modal-footer">
					<button id="boton_eliminar" type="button" onclick="" class="btn btn-danger" >Eliminar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					
				</div>
			</div>
		</div>
	</div>

	
	<script>
		function eliminar(nombre, id) {
			document.getElementById("p_eliminar").innerHTML = "¿Estas seguro? Se eliminarán todos los eventos asociados.";
			document.getElementById("h5_eliminar").innerHTML = "Eliminar activación " + nombre;
			document.getElementById("boton_eliminar").onclick = function(){location.href='{% url "eliminar_activacion" %}?activacion=' + id 
				{%if cliente != "" %} + "&cliente={{cliente.idCliente}}"{% endif %}
				};
			document.getElementById("eliminar").click();
		}
		function eliminar2(nombre, id) {
			document.getElementById("p_eliminar").innerHTML = "¿Estas seguro?";
			document.getElementById("h5_eliminar").innerHTML = "Eliminar contacto " + nombre;
			document.getElementById("boton_eliminar").onclick = function(){location.href='{% url "eliminar_contacto" %}?contacto=' + id};
			document.getElementById("eliminar").click();
		}
	</script>


{% endblock %}