{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- Activo en el menu: -->
{% block eventos-li %} active {% endblock %}
{% block titulo %}Nuevo evento{% if select == False %} - {{activacion.nombre}} - {{activacion.Cliente.nombre}}{% endif %}{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-12">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Nuevo evento</h1>
							</div>
						</div>

					</div>
				</div>
<!--
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									{% if select == False %}
										<li><a href="#">{{activacion.Cliente.nombre}}</a></li>
										<li><a href="#">{{activacion.nombre}}</a></li>
									{% else %}
										<li><a href="{% url 'eventos' %}">Eventos</a></li>
									{% endif %}
									<li class="active">Nuevo evento</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
-->
			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Nuevo evento</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							{% if select == False %}
								<li><a href="#">{{activacion.Cliente.nombre}}</a></li>
								<li><a href="#">{{activacion.nombre}}</a></li>
							{% else %}
								<li><a href="#">Eventos</a></li>
							{% endif %}
							<li class="active">Nuevo evento</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nuevo evento</strong>
						</div>-->
						<div class="card-body">
							
							<form id="form" method="post" enctype="multipart/form-data">
				                {% csrf_token %}
				                {% if evento != None %}<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />{% endif %}
				                {% if select == False %}<input type="hidden" name="Activacion" id="Activacion" value="{{activacion.idActivacion}}" />{% endif %}
				                {% for field in eventos_form %}
				                	{% if "cantidad" not in field.name %}
										<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
											<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
											<div class="col-lg-3 col-sm-6" >{{field}}</div>

											{% if field.name == "ActivacionSelect" and activacion == -1 %}
												<div class="col-lg-3 col-sm-6">Elija una activación</div>
											{% endif %}
											{% if field.name == "nombre" and nombre_unico == False %}
												<div class="col-lg-3 col-sm-6">Este nombre ya existe para la activación.</div>
											{% endif %}

											{% if "plan" not in field.name %}
												{% if field.errors %}
													<div class="col-lg-3 col-sm-6">{{field.errors}}</div>
												{% endif %}
												</div>
											{% endif %}
									{% else %}
											<div class="col-lg-1 col-sm-2" >{{field}}</div>
											<!--<div class="col-lg-3 col-sm-6">{{field.errors}}</div>-->
											{% for error in mensaje_error %}
												{% if field.label in error %}
													<div class="col-lg-3 col-sm-6">{{error}}</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								{% endfor %}

								<input type="hidden" name="nPlanes" id="nPlanes" value="{{nPlanes}}" />

								<div class="row" >
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-primary" onclick="agregar_o_quitar(1)"><i class="fa fa-plus-circle"></i>&nbsp; Agregar plan</button></div>
									</div>
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-danger" onclick="agregar_o_quitar(-1)"><i class="fa fa-minus-circle"></i>&nbsp; Quitar plan</button></div>
									</div>
								</div>

								<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
								<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "eventos" %}{% if select == False %}?activacion={{activacion.idActivacion}}{% endif %}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
				            </form>
						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<script >
		function agregar_o_quitar(n) {
			document.getElementById('nPlanes').value=Number('{{nPlanes}}') + n;
			document.getElementById('form').submit();
		}
	</script>
	


{% endblock %}