{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load filtros %}

<!-- Activo en el menu: -->
{% block menuPlanes-li %} active {% endblock %}
{% block planes-li %} active {% endblock %}
{% block titulo %}Nuevo plan{% endblock %}

{% block content %}
	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-12">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Nuevo plan</h1>
							</div>
						</div>

					</div>
				</div>
<!--
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'planes' %}">Planes</a></li>
									<li class="active">Nuevo plan</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
-->
			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Nuevo plan</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Planes</a></li>
							<li class="active">Nuevo plan</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->



		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nuevo plan</strong>
						</div>-->
						<div class="card-body">
							
							<form id="form" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{% for field in planes_form %}
									{% if "cantidad" not in field.name %}
										<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
											<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
											<div class="col-lg-3 col-sm-6" >{{field}}</div>
											{% if field.name == "nombre" and nombre_unico == False %}
												<div class="col-lg-3 col-sm-6">Este nombre ya existe.</div>
											{% endif %}

											{% if "item" not in field.name %}
												{% if field.errors %}
													<div class="col-lg-3 col-sm-6">{{field.errors}}</div>
												{% endif %}
												</div>
											{% endif %}
									{% else %}
											<div class="col-lg-1 col-sm-2" >{{field}}</div>
											<!--<div class="col-lg-3 col-sm-6">{{field.errors}}</div>-->
											{% for error in mensaje_error %}
												{% if field.label in error %}
													<div class="col-lg-3 col-sm-6">{{error}}</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								{% endfor %}

								<input type="hidden" name="nItems" id="nItems" value="{{nItems}}" />

								<div class="row" >
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-primary" onclick="agregar_o_quitar(1)"><i class="fa fa-plus-circle"></i>&nbsp; Agregar item</button></div>
									</div>
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-danger" onclick="agregar_o_quitar(-1)"><i class="fa fa-minus-circle"></i>&nbsp; Quitar item</button></div>
									</div>
								</div>

								<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
								<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "planes" %}'"><i class="ti-back-left"></i>&nbsp; Volver</button>

<!-- boton siguiente -->
<!--
								<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
									<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{planes_form.nombre.label}} *</label></div>
									<div class="col-lg-3 col-sm-6" >{{planes_form.nombre}}</div>
									{% if nombre_unico == False %}
										<div class="col-lg-3 col-sm-6">Este nombre ya existe.</div>
									{% endif %}
									<div class="col-lg-3 col-sm-6">{{planes_form.nombre.errors}}</div>
								</div>
								<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
									<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{planes_form.items.label}} *</label></div>
									<div class="col-lg-3 col-sm-6" >{{planes_form.items}}</div>
									<div class="col-lg-3 col-sm-6">{{planes_form.items.errors}}</div>
								</div>

								<input type="hidden" name="paso" id="paso" value="2" />
								<div style="padding-bottom:1em" ><button type="submit" class="btn btn-primary" ><i class="ti-arrow-right"></i>&nbsp; Siguiente</button></div>
-->							
							</form>
						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<script >
		function agregar_o_quitar(n) {
			document.getElementById('nItems').value=Number('{{nItems}}') + n;
			document.getElementById('form').submit();
		}
	</script>

<!-- era para boton siguiente
	{% if paso == 2 %}
	<button type="button" style="display:none" id="paso2" class="btn btn-primary" data-toggle="modal" data-target="#smallmodal" ></button>
	<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="smallmodalLabel">Paso 2: Cantidades</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body">
					<div id="items-div">
						{% for field, nombre in planes_form|zip:nombres %}
							{% if "cantidad_" in field.name %}
								<div id="row-item" class="row form-group alert alert-error">
									<div class="col col-sm-2"><label for="text-input" class="form-control-label">{{nombre}}</label></div>
									<div class="col-lg-3 col-sm-6" >{{field}}</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success" onclick="enviar();" ><i class="ti-save"></i>&nbsp; Guardar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
	<script>
		$( document ).ready(function() {
			document.getElementById("paso2").click();
		});
	</script>
	{% endif %}

	<script>
		function enviar() {
			var form = document.getElementById('form');
			var items_div = document.getElementById("items-div");

			document.getElementById("paso").value = 3;

			form.appendChild(items_div);
			form.submit();
		}
	</script>
-->

{% endblock %}