{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- Activo en el menu: -->
{% block items-li %} active {% endblock %}
{% block titulo %}Nuevo item{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

	<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Nuevo item</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'items' %}">Items</a></li>
									<li class="active">Nuevo item</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Nuevo item</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Items</a></li>
							<li class="active">Nuevo item</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nuevo item</strong>
						</div>-->
						<div class="card-body">
							
							<form id="form" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row form-group {% if items_form.nombre.error %} alert alert-error {% endif %}">
									<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{items_form.nombre.label}} *</label></div>
									<div class="col-lg-3 col-sm-6">{{items_form.nombre|append_attr:"class:form-control"}}</div>
									<div class="col-lg-3 col-sm-6">{{items_form.nombre.errors}}</div>
								</div>
								<div class="row form-group {% if items_form.multiple.error %} alert alert-error {% endif %}">
									<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{items_form.multiple.label}}</label></div>
									<div class="col-lg-3 col-sm-6"><label class="switch switch-3d switch-success switch-lg mr-3">{{items_form.multiple}}<span class="switch-label"></span> <span class="switch-handle"></span></label><small class="form-text text-muted">Activar sólo si se usa en grandes cantidades regularmente. Ej: Pinzas x4 o Zapatillas x3.</small></div>
									<div class="col-lg-3 col-sm-6">{{items_form.multiple.errors}}</div>
								</div>
								<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
								<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "items" %}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
							</form>
						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	


{% endblock %}