{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- Activo en el menu: -->
{% block menuOtros-li %} active {% endblock %}
{% block recurrentes-li %} active {% endblock %}
{% block titulo %}Nueva tarea recurrente{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Nueva tarea recurrente</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'recurrentes' %}">Tareas recurrentes</a></li>
									<li class="active">Nueva tarea recurrente</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Nuevo trabajador</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Trabajadores</a></li>
							<li class="active">Nuevo trabajador</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->



		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nuevo item</strong>
						</div>-->
						<div class="card-body">
							
							<form id="form" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{% for field in recurrentes_form %}
									<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
										<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
										<div class="col-lg-3 col-sm-6">{{field}}
											{% if field.name == "n" %}<small class="form-text text-muted">Orden en que se mostrarán.</small>{% endif %}
										</div>
										<div class="col-lg-7 col-sm-4">{{field.errors}}</div>
									</div>
								{% endfor %}
								<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
								<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "recurrentes" %}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
							</form>
						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	


{% endblock %}