{% extends "Base/base.html" %}
{% load staticfiles %}

<!-- Activo en el menu: -->
{% block index-li %} active {% endblock %}
{% block titulo %}Calendario{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-12">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Calendario</h1>
							</div>
						</div>

					</div>
				</div>
<!--
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li class="active">Calendario</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
-->
			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Clientes</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li class="active">Clientes</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->

		<div class="content mt-3">
            <div class="animated fadeIn">

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<!--<div class="card-header">
								<strong class="card-title">Clientes</strong>
							</div>-->
							<div class="card-body">
					  <table class="table table-bordered">
						<thead>
						  <tr>
							{% for dia in dias %}
								<th scope="col">{{dia|date:"l j"}}</th>
							{% endfor %}
						  </tr>
						</thead>
						<tbody>
							{% for fila in calendario %}
								<tr>
									{% for evento, cliente, activacion in fila %}
										<!--style="width:12.5%"-->

										{% if evento.estado == 5 or evento.estado == 4 or evento.estado == 3 %} 
											<td bgcolor="#28a745" >
												<b>{{cliente}}</b><br>
												<a href="{% url 'evento' %}?evento={{evento.idEvento}}" style="color:#007bff; text-decoration: underline;" >
												{{evento.nombre}}</a>
											</td>
										{% elif evento.estado == 0 %}<td bgcolor="#ffc107" >
											<b>{{cliente}}</b><br>
												<a href="{% url 'evento' %}?evento={{evento.idEvento}}&tab=coordinacion" style="color:#007bff; text-decoration: underline;" >
												{{evento.nombre}}</a>
											</td>
										{% elif evento.estado == 1 %}<td bgcolor="#fd7e14" >
											<b>{{cliente}}</b><br>
												<a href="{% url 'evento' %}?evento={{evento.idEvento}}&tab=logistica" style="color:#007bff; text-decoration: underline;" >
												{{evento.nombre}}</a>
											</td>
										{% elif evento.estado == 2 %}<td bgcolor="red" >
											<b>{{cliente}}</b><br>
												<a href="{% url 'evento' %}?evento={{evento.idEvento}}&tab=checklist" style="color:#007bff; text-decoration: underline;" >
												{{evento.nombre}}</a>
											</td>
										{% else %}
											<td></td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					  </table>
							</div>
						</div>
					</div>
				</div>
				
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


{% endblock %}