{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- Activo en el menu: -->
{% block activaciones-li %} active {% endblock %}
{% block titulo %}Editar activación {{activacion.nombre}} - {{activacion.Cliente.nombre}}{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Editar activación {{activacion.nombre}} - {{activacion.Cliente.nombre}}</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">{{activacion.Cliente.nombre}}</a></li>
							<li><a href="#">{{activacion.nombre}}</a></li>
							<li class="active">Editar {{activacion.nombre}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>




		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nueva activación</strong>
						</div>-->
						<div class="card-body">
							
							<form method="post" enctype="multipart/form-data">
				                {% csrf_token %}
				                <input type="hidden" name="activacion" id="activacion" value="{{activacion.idActivacion}}" />
				                {% if menuCliente != "" %}<input type="hidden" name="menuCliente" id="menuCliente" value="{{menuCliente}}" />{% endif %}
				                {% for field in activaciones_form %}
									<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
										<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
										{% if "select" in field|widget_type %}
											<div class="col-lg-3 col-sm-6" >{{field|append_attr:"class:standardSelect"}}</div> <!--|append_attr:"multiple"}}</div>-->
										{% else %}
											<div class="col-lg-3 col-sm-6">{{field|append_attr:"class:form-control"}}</div>
										{% endif %}
										<div class="col-lg-3 col-sm-6">{{field.errors}}</div>
									</div>
								{% endfor %}
				                <button type="submit" class="btn btn-outline-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
				            </form>

						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->
	


{% endblock %}