{% extends "Base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load filtros %}

<!-- Activo en el menu: -->
{% block planes-li %} active {% endblock %}
{% block titulo %}Editar estación {{estacion.nombre}}{% endblock %}

{% block content %}
	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Editar estación {{estacion.nombre}}</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'estaciones' %}">Estaciones</a></li>
									<li class="active">Editar {{estacion.nombre}}</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Nuevo plan</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Planes</a></li>
							<li class="active">Nuevo plan</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->



		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">

				<div class="col-md-12">
					<div class="card">
						<!--<div class="card-header">
							<strong class="card-title">Nuevo plan</strong>
						</div>-->
						<div class="card-body">
							
							<form id="form" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="estacion" id="estacion" value="{{estacion.idEstacion}}" />
								{% for field in estaciones_form %}
									{% if "cantidad" not in field.name %}
										<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
											<div class="col col-sm-2"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
											<div class="col-lg-3 col-sm-6" >{{field}}</div>
											{% if field.name == "nombre" and nombre_unico == False %}
												<div class="col-lg-3 col-sm-6">Este nombre ya existe.</div>
											{% endif %}

											{% if "item" not in field.name %}
												{% if field.errors %}
													<div class="col-lg-3 col-sm-6">{{field.errors}}</div>
												{% endif %}
												</div>
											{% endif %}
									{% else %}
											<div class="col-lg-1 col-sm-2" >{{field}}</div>
											<!--<div class="col-lg-3 col-sm-6">{{field.errors}}</div>-->
											{% for error in mensaje_error %}
												{% if field.label in error %}
													<div class="col-lg-3 col-sm-6">{{error}}</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								{% endfor %}

								<input type="hidden" name="nueva_estacion" id="nueva_estacion" value="-1" />

								<input type="hidden" name="nItems" id="nItems" value="{{nItems}}" />

								<div class="row" >
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-primary" onclick="agregar_o_quitar(1)"><i class="fa fa-plus-circle"></i>&nbsp; Agregar item</button></div>
									</div>
									<div class="col col-sm-2">
										<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-danger" onclick="agregar_o_quitar(-1)"><i class="fa fa-minus-circle"></i>&nbsp; Quitar item</button></div>
									</div>
								</div>

								<button type="button" class="btn btn-success" onclick="document.getElementById('boton_editar').click();" ><i class="ti-pencil-alt"></i>&nbsp; Guardar</button>
							</form>
						</div>
					</div>
				</div>


				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<script >
		function agregar_o_quitar(n) {
			document.getElementById('nItems').value=Number('{{nItems}}') + n;
			document.getElementById('form').submit();
		}

		function nueva_estacion() {
			document.getElementById('nueva_estacion').value='{{estacion.idEstacion}}';
			document.getElementById('form').submit();
		}
	</script>


	<button id="boton_editar" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">Small</button>

	<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="h5_editar" class="modal-title" id="smallmodalLabel">Atención</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Cambios en los items afectarán a todos los eventos que usen esta estación, ¿estas seguro? También puedes crear una nueva estación con esta información.
					</p>
				</div>
				<div class="modal-footer">
					<button id="boton_guardar" type="button" class="btn btn-success" onclick="document.getElementById('form').submit();" ><i class="ti-pencil-alt"></i>&nbsp; Guardar cambios</button>
					<button id="boton_nuevo" type="button" class="btn btn-primary" onclick="nueva_estacion();"><i class="fa fa-plus-circle"></i>&nbsp; Nueva estacion</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}