{% extends "Base/base.html" %}
{% load staticfiles %}
{% load filtros %}

<!-- Activo en el menu: -->
{% block eventos-li %} active {% endblock %}
<!--{% comment %}{% block titulo %}{% if not activacion %}Eventos{% else %}Activación {{activacion.nombre}} - {{activacion.Cliente.nombre}}{% endif %}{% endblock %}{% endcomment %}-->
{% block titulo %}Eventos{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<!--
								{% if not activacion %}-->
									<h1>Todos los eventos</h1>
								<!--{% else %}
									<h1>Activación {{activacion.nombre}}</h1>
								{% endif %}-->
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<!--{% if activacion %}
										<li><a href="{% url 'activaciones' %}?cliente={{activacion.Cliente.idCliente}}">{{activacion.Cliente.nombre}}</a></li>
										<li class="active">{{activacion.nombre}}</li>
									{% else %}-->
										<li class="active">Eventos</li>
									<!--{% endif %}-->
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						{% if activacion == "" and cliente == "" %}
							<h1>Todos los eventos</h1>
						{% else %}
							<h1>Activación {{activacion.nombre}}</h1>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							{% if activacion != "" %}
								<li><a href="{% url 'activaciones' %}?cliente={{activacion.Cliente.idCliente}}">{{activacion.Cliente.nombre}}</a></li>
								<li class="active">{{activacion.nombre}}</li>
							{% else %}
								<li class="active">Eventos</li>
							{% endif %}
						</ol>
					</div>
				</div>
			</div>
		</div>
-->



		<div class="content mt-3">
			<div class="animated fadeIn">

				<!--
				{% if activacion %}
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header bg-secondary">
									<strong class="card-title text-light">Descripción de la activación</strong>
								</div>
								<div class="card-body text-white bg-primary">
									<p class="card-text text-light">{{activacion.descripcion}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				-->

				<div class="row">

					<div class="col-lg-4 col-md-5 col-sm-5">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-one">
									<div class="stat-icon dib"><i class="ti-camera text-primary border-primary"></i></div> <!--success/primary/warning/danger -->
									<div class="stat-content dib">
										<div class="stat-text">Eventos totales</div>
										<div class="stat-digit">{{eventos.count}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-5 col-sm-5">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-one">
									<div class="stat-icon dib"><i class="ti-camera text-warning border-warning"></i></div> <!--success/primary/warning/danger -->
									<div class="stat-content dib">
										<div class="stat-text">Eventos pendientes</div>
										<div class="stat-digit">{{pendientes.count}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				
				
				


				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Eventos</strong>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="card-body">
										<!--<button type="button" class="btn btn-outline-success" onclick="location.href='{% url "agregar_evento" %}{% if activacion != "" %}?Activacion={{activacion.idActivacion}}{% endif %}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo evento</button>-->
										<button type="button" class="btn btn-outline-success" onclick="location.href='{% url "agregar_evento" %}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo evento</button>
										<button type="button" class="btn btn-outline-primary" onclick="mostrar()"><i class="ti-pencil-alt"></i>&nbsp; Editar eventos</button>
									</div>
								</div>

								<form method="GET" id="filtros" >
									<input type="hidden" name="orden" id="orden" value="{{orden}}" />
									<div class="card">
										<div class="card-header">
											<strong class="card-title">Filtros</strong>
										</div>
										<div class="card-body">
											<div class="row form-group">
												{% for field in filtros %}
													<div class="col-lg-2 col-sm-2"><label class=" form-control-label">{{field.label}}</label></div>
												{% endfor %}
											</div>
											<div class="row form-group">
												{% for field in filtros %}
													<div class="col-lg-2 col-sm-2" >{{field}}</div>
												{% endfor %}
												<div class="col-lg-2 col-sm-2"><button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i>&nbsp; Buscar</button></div>
											</div>
										</div>
									</div>
								</form>
								
					<!-- id="bootstrap-data-table" -->
					  <table class="table table-striped table-bordered">
						<thead>
						  <tr>
							<th>
								{% if orden == "idEvento" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('idEvento');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-idEvento" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-idEvento');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>#
							</th>
							<th>
								{% if orden == "Activacion__Cliente__nombre" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('Activacion__Cliente__nombre');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-Activacion__Cliente__nombre" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-Activacion__Cliente__nombre');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Cliente
							</th>
							<th>
								{% if orden == "Activacion__nombre" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('Activacion__nombre');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-Activacion__nombre" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-Activacion__nombre');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Activación
							</th>
							<th>
								{% if orden == "nombre" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('nombre');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-nombre" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-nombre');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Evento
							</th>
							<th>
								{% if orden == "fecha" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('fecha');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-fecha" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-fecha');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Fecha
							</th>
							<th>
								{% if orden == "horas" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('horas');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-horas" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-horas');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Horas
							</th>
							<th>
								{% if orden == "Planes__nombre" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('Planes__nombre');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-Planes__nombre" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-Planes__nombre');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Planes
							</th>
							<th>
								{% if orden == "comentarios" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('comentarios');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-comentarios" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-comentarios');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Comentarios
							</th>
							<th>
								{% if orden == "estado" %}
									<i class="fa fa-long-arrow-up" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('estado');" ><i class="fa fa-long-arrow-up" ></i></a>
								{% endif %}
								{% if orden == "-estado" %}
									<i class="fa fa-long-arrow-down" style="color:black" ></i>
								{% else %}
									<a href="#" onclick="orden('-estado');" ><i class="fa fa-long-arrow-down" ></i></a>
								{% endif %}
								<br>Estado
							</th>
						  </tr>
						</thead>
						<tbody>
							{% for evento in eventos %}
								<tr>
									<th scope="row" id="td_{{evento.idEvento}}" {% if evento.fecha >= hoy %}bgcolor="#ffc107"{% else %}bgcolor="#28a745"{% endif %} >
										{{evento.idEvento}}
										<!--<i class="ti-info-alt text-success"></i>-->
										<!--<a style="visibility:hidden;" href='{% url "editar_evento" %}?evento={{evento.idEvento}}{% if activacion != "" %}&Activacion={{activacion.idActivacion}}{% endif %}' ><i class="ti-pencil-alt text-primary"></i></a>-->
										<a style="visibility:hidden;" href='{% url "editar_evento" %}?evento={{evento.idEvento}}' ><i class="ti-pencil-alt text-primary"></i></a>
										<a style="visibility:hidden;" href="javascript:void(0)" onclick="eliminar('{{evento.nombre}}', '{{evento.idEvento}}');" ><i class="fa fa-minus-circle text-danger"></i></a>
									</th>
									<!--{% comment %}{% if not activacion %}{% endcomment %}-->
										<td><a href="{% url 'activaciones' %}?cliente={{evento.Activacion.Cliente.idCliente}}" style="color:#007bff; text-decoration: underline;" >{{evento.Activacion.Cliente.nombre}}</a></td>
										<td><a href="{% url 'eventos' %}?Activacion={{evento.Activacion.idActivacion}}" style="color:#007bff; text-decoration: underline;" >{{evento.Activacion.nombre}}</a></td>
									<!--{% comment %}{% endif %}{% endcomment %}-->
									<!--<td><a href="{% url 'evento' %}?evento={{evento.idEvento}}" >{{evento.fecha}}</a></td>-->
									<td><a href="{% url 'evento' %}?evento={{evento.idEvento}}" style="color:#007bff; text-decoration: underline;" >{{evento.nombre}}</a></td>
									<td>{{evento.fecha}}</td>
									<td>{{evento.horas}}</td>
									<td>
									
										{% for planEvento in evento.PlanesEvento.all %}
											{{planEvento.cantidad}} {{planEvento.Plan.nombre}}<br>
										{% endfor %}
									</td>
									<td >{{evento.comentarios}}</td>

									<td {% if evento.estado == "Ok" %}bgcolor="#28a745"
										{% elif evento.estado == "Coordinación" %}bgcolor="#ffc107"
										{% elif evento.estado == "Logística" %}bgcolor="#fd7e14"
										{% elif evento.estado == "Check-list" %}bgcolor="red"
										{% elif evento.estado == "Check-out" %}bgcolor="#868e96"
										{% elif evento.estado == "Facturación" %}bgcolor="#007bff"
										{% endif %} >
										<b>{{evento.estado}}</b>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					  </table>

				      <div class="pagination">
				          <span class="page-links">
				              {% if page_obj.has_previous %}
				                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
				              {% endif %}
				              <!--<span class="page-current">
				                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				              </span>-->
				              {% if page_obj.has_next %}
				                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
				              {% endif %}
				          </span>
				      </div>
							</div>
						</div>
					</div>

				</div>
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<script type="text/javascript">
		var visible = false;
		function mostrar() {
			visible = !visible;
			var botones, i;
			{% for evento in eventos %}
				try {
					botones = document.getElementById("td_{{evento.idEvento}}").children;
					for (i=0; i<botones.length; i++) {
						//if (botones[i].style.visibility == "hidden") {
						if (visible) {
							botones[i].style.visibility = "visible";
						}
						else {
							botones[i].style.visibility = "hidden";
						}
					}
				}
				catch(err) {}
			{% endfor %}
			/*
			var botones, i;
			{% for evento in eventos %}
				botones = document.getElementById("td_" + {{evento.idEvento}}).children;
				for (i=1; i<botones.length; i++) {
					if (botones[i].style.display == "none") {
					botones[i].style.display = "inline";
				}
				else {
					botones[i].style.display = "none";
				}
				}
			{% endfor %}
			*/

			/*
			var i, th, td;
			th = document.getElementById("th_edit");
			if (th.style.display == "none") {
				th.style.display = "inline";
			}
			else {
				th.style.display = "none";
			}
			{% for evento in eventos %}
				td = document.getElementById("td_" + {{evento.idEvento}});
				if (td.style.display == "none") {
					td.style.display = "inline";
				}
				else {
					td.style.display = "none";
				}
			{% endfor %}
			*/

			/*
			var i, th, td;
			th = document.getElementById("th_edit");
			if (th.style.visibility == "hidden") {
				th.style.visibility = "visible";
			}
			else {
				th.style.visibility = "hidden";
			}
			{% for evento in eventos %}
				td = document.getElementById("td_" + {{evento.idEvento}});
				if (td.style.visibility == "hidden") {
					td.style.visibility = "visible";
				}
				else {
					td.style.visibility = "hidden";
				}
			{% endfor %}
			*/
		}

		function orden(value) {
			document.getElementById('orden').value = value;
			document.getElementById('filtros').submit();
		}
	</script>



	<button id="eliminar" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">Small</button>

	<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="h5_eliminar" class="modal-title" id="smallmodalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="p_eliminar">
						¿Estas seguro?
					</p>
				</div>
				<div class="modal-footer">
					<button id="boton_eliminar" type="button" onclick="" class="btn btn-danger" >Eliminar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					
				</div>
			</div>
		</div>
	</div>

	
	<script>
		function eliminar(nombre, id) {
			//document.getElementById("p_eliminar").innerHTML = "";
			document.getElementById("h5_eliminar").innerHTML = "Eliminar evento " + nombre;
			document.getElementById("boton_eliminar").onclick = function(){location.href='{% url "eliminar_evento" %}?evento=' + id
				//{% comment %}{% if activacion != "" %} + "&Activacion={{activacion.idActivacion}}"{% endif %}{% endcomment %}
				};
			document.getElementById("eliminar").click();
		}
	</script>


{% endblock %}