{% extends "Base/base.html" %}
{% load staticfiles %}
{% load filtros %}

<!-- Activo en el menu: -->
<!-- {% block eventos-li %} active {% endblock %} -->
{% block titulo %}Evento {{evento.nombre}} - {{evento.Activacion.nombre}} - {{evento.Activacion.Cliente.nombre}}{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Evento {{evento.nombre}}</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'activaciones' %}?cliente={{evento.Activacion.Cliente.idCliente}}">{{evento.Activacion.Cliente.nombre}}</a></li>
									<li><a href="{% url 'eventos' %}?activacion={{evento.Activacion.idActivacion}}">{{evento.Activacion.nombre}}</a></li>
									<li class="active">{{evento.nombre}}</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Evento {{evento.nombre}}</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'activaciones' %}?cliente={{evento.Activacion.Cliente.idCliente}}">{{evento.Activacion.Cliente.nombre}}</a></li>
							<li><a href="{% url 'eventos' %}?activacion={{evento.Activacion.idActivacion}}">{{evento.Activacion.nombre}}</a></li>
							<li class="active">{{evento.nombre}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->
		<div class="content mt-3">
			<div class="animated fadeIn">

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-secondary">
								<strong class="card-title text-light">Descripción de la activación</strong>
							</div>
							<div class="card-body text-white bg-primary">
								<p class="card-text text-light">{{evento.Activacion.descripcion}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-secondary">
								<strong class="card-title text-light">Comentarios del evento</strong>
							</div>
							<div class="card-body text-white bg-primary">
								<p class="card-text text-light">{{evento.comentarios}}</p>
							</div>
						</div>
					</div>
				</div>


				
				
			


				<div class="row">
					<div class="col-md-12">
						<div class="default-tab">
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									{% if edit != "logistica" %}<a class="nav-item nav-link {% if edit == 'coordinacion' or tab == 'coordinacion' %}active{% endif %}" id="nav-coordinacion-tab" data-toggle="tab" href="#nav-coordinacion" role="tab" aria-controls="nav-coordinacion" aria-selected="true">Coordinación</a>{% endif %}
									{% if edit != "coordinacion" %}<a class="nav-item nav-link {% if edit == 'logistica' or tab == 'logistica' %}active{% endif %}" id="nav-logistica-tab" data-toggle="tab" href="#nav-logistica" role="tab" aria-controls="nav-logistica" aria-selected="false">Logística</a>{% endif %}
								</div>
							</nav>
							<div class="tab-content pl-3 pt-2" id="nav-tabContent">
<!-- Pestaña Coordinación -->
							{% if edit != "logistica" %}
								<div class="tab-pane fade {% if edit == 'coordinacion' or tab == 'coordinacion' %}show active{% endif %}" id="nav-coordinacion" role="tabpanel" aria-labelledby="nav-coordinacion-tab">
									{% if edit == 'coordinacion' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value="coordinacion" />
									{% endif %}
									<div class="row">
										<div class="card-body">
											{% if edit == 'coordinacion' %}
												<button type="submit" class="btn btn-outline-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=coordinacion'"><i class="ti-pencil-alt"></i>&nbsp; Editar</button>
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Servicio</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
													  <tbody>
														<tr>
															<th scope="row">Contacto</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.Contacto.nombre != None %}{{evento.Contacto.nombre}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.Contacto}}</td>
																<td><button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "agregar_contacto" %}?cliente={{evento.Activacion.Cliente.idCliente}}&evento={{evento.idEvento}}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo</button></td>
																<td>{{coordinacion_form.Contacto.errors}}</td>
															{% endif %}
														</tr>
														<tr>
														  <th scope="row">Fecha</th>
														  <td>{{evento.fecha}}</td>
														</tr>
														<tr>
															<th scope="row">Inicio</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.inicio_servicio != None %}{{evento.inicio_servicio}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.inicio_servicio}}</td>
																<td>{{coordinacion_form.inicio_servicio.errors}}</td>
															{% endif %}
														<tr>
															<th scope="row">Fin</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.fin_servicio != None %}{{evento.fin_servicio}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.fin_servicio}}</td>
																<td>{{coordinacion_form.fin_servicio.errors}}</td>
															{% endif %}
														</tr>
														<tr>
															<th scope="row">Dirección</th>
															{% if edit != 'coordinacion' %}
																<td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{evento.direccion}}" >{% if evento.direccion != None %}{{evento.direccion}}{% else %} - {% endif %}</a></td>
															{% else %}
																<td>{{coordinacion_form.direccion}}</td>
																<td>{{coordinacion_form.direccion.errors}}</td>
															{% endif %}
														</tr>
													  </tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Montaje</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<tbody>
															<tr>
																<th rowspan="2" scope="row">Instalación</th>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.fecha_instalacion != None %}{{evento.fecha_instalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.fecha_instalacion}}</td>
																	<td>{{coordinacion_form.fecha_instalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.hora_instalacion != None %}{{evento.hora_instalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.hora_instalacion}}</td>
																	<td>{{coordinacion_form.hora_instalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th rowspan="2" scope="row">Desinstalación</th>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.fecha_desinstalacion != None %}{{evento.fecha_desinstalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.fecha_desinstalacion}}</td>
																	<td>{{coordinacion_form.fecha_desinstalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.hora_desinstalacion != None %}{{evento.hora_desinstalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.hora_desinstalacion}}</td>
																	<td>{{coordinacion_form.hora_desinstalacion.errors}}</td>
																{% endif %}
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									{% if edit == 'coordinacion' %}
										</form>
									{% endif %}
								</div>
							{% endif %}

<!-- Pestaña Logística -->
							{% if edit != "coordinacion" %}
								<div class="tab-pane fade {% if edit == 'logistica' or tab == 'logistica' %}show active{% endif %}" id="nav-logistica" role="tabpanel" aria-labelledby="nav-logistica-tab">
									{% if edit == 'logistica' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value="logistica" />
									{% endif %}
									<div class="row">
										<div class="card-body">
											{% if edit == 'logistica' %}
												<button type="submit" class="btn btn-outline-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=logistica'"><i class="ti-pencil-alt"></i>&nbsp; Editar</button>
												<button type="button" class="btn btn-outline-info" onclick="location.href='{% url "evento_checklist" %}?evento={{evento.idEvento}}'"><i class="ti-check-box"></i>&nbsp; Checklist</button>
											{% endif %}
										</div>
									</div>
									<div class="row">

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Trabajadores</strong>
													{% if edit == 'logistica' %}
														<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "agregar_trabajador" %}?evento={{evento.idEvento}}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo</button>
													{% endif %}
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<tbody>
															<tr>
																<th scope="row">Supervisor(es)</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Supervisor" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Supervisor" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Supervisor}}</td>
																	<td>{{logistica_form.Supervisor.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Montaje</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Montaje" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Montaje" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Montaje}}</td>
																	<td>{{logistica_form.Montaje.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Desmontaje</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Desmontaje" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Desmontaje" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Desmontaje}}</td>
																	<td>{{logistica_form.Desmontaje.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Operador(es)</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Operador" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Operador" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Operador}}</td>
																	<td>{{logistica_form.Operador.errors}}</td>
																{% endif %}
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>





										{% for plan, planEvento in lista_planes|zip:evento.PlanesEvento.all %}
											{% for nPlan in  plan %}
												<div class="col-lg-6 col-sm-12">
													<div class="card">
														<div class="card-header">
															<strong class="card-title">{{planEvento.Plan.nombre}} {{forloop.counter}}</strong>
														</div>
														<div class="card-body">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th scope="col">Item</th>
																		<th scope="col">Estación</th>
																	</tr>
																</thead>
																<tbody>
																		{% for item, num, estacion in  nPlan %}
																			<tr>
																				<td>{{item.nombre}}{% if item.multiple %} (x{{num}}){% else %} {{num}}{% endif %}</td>
																				<td>{{estacion}}</td>
																			</tr>
																		{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											{% endfor %}
										{% endfor %}

									
									</div>

									<div class="row">
										<div class="card-body">
											{% if edit == 'logistica' %}
												<button type="submit" class="btn btn-outline-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=logistica'"><i class="ti-pencil-alt"></i>&nbsp; Editar</button>
												<button type="button" class="btn btn-outline-info" onclick="location.href='{% url "evento_checklist" %}?evento={{evento.idEvento}}'"><i class="ti-check-box"></i>&nbsp; Checklist</button>
											{% endif %}
										</div>
									</div>

									{% if edit == 'logistica' %}
										</form>
									{% endif %}
								</div>
							{% endif %}

							</div>
						</div>
					</div>

				</div>



				


			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->





				{% if error == True %}
				<button id="error" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">Small</button>

				<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="smallmodalLabel">Error</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>
									Hubo un error actualizando uno de los datos, revisar.
								</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
							</div>
						</div>
					</div>
				</div>

				<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
				<script>
					$( document ).ready(function() {
						document.getElementById("error").click();
					});
				</script>
				{% endif %}




{% endblock %}