{% extends "Base/base.html" %}
{% load staticfiles %}
{% load filtros %}

<!-- Activo en el menu: -->
<!-- {% block eventos-li %} active {% endblock %} -->
{% block titulo %}Evento {{evento.nombre}} - {{evento.Activacion.nombre}} - {{evento.Activacion.Cliente.nombre}}{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Evento {{evento.nombre}}</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="{% url 'activaciones' %}?cliente={{evento.Activacion.Cliente.idCliente}}">{{evento.Activacion.Cliente.nombre}}</a></li>
									<li><a href="{% url 'eventos' %}?activacion={{evento.Activacion.idActivacion}}">{{evento.Activacion.nombre}}</a></li>
									<li class="active">{{evento.nombre}}</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Evento {{evento.nombre}}</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'activaciones' %}?cliente={{evento.Activacion.Cliente.idCliente}}">{{evento.Activacion.Cliente.nombre}}</a></li>
							<li><a href="{% url 'eventos' %}?activacion={{evento.Activacion.idActivacion}}">{{evento.Activacion.nombre}}</a></li>
							<li class="active">{{evento.nombre}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->
		<div class="content mt-3">
			<div class="animated fadeIn">

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-secondary">
								<strong class="card-title text-light">Descripción de la activación</strong>
							</div>
							<div class="card-body text-white bg-primary">
								<p class="card-text text-light">{{evento.Activacion.descripcion}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-secondary">
								<strong class="card-title text-light">Comentarios del evento</strong>
							</div>
							<div class="card-body text-white bg-primary">
								<p class="card-text text-light">{{evento.comentarios}}</p>
							</div>
						</div>
					</div>
				</div>

				


				
				
			


				<div class="row">
					<div class="col-md-12">
						<div class="default-tab">
							<!--<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<a class="nav-item nav-link" id="nav-menu-tab" data-toggle="tab" href="#nav-menu" role="tab" aria-controls="nav-menu" aria-selected="true">Menú</a>
									{% if edit == False or edit == "coordinacion" %}
										<a class="nav-item nav-link {% if edit == 'coordinacion' or tab == 'coordinacion' %}active{% endif %}" id="nav-coordinacion-tab" data-toggle="tab" href="#nav-coordinacion" role="tab" aria-controls="nav-coordinacion" aria-selected="true">Coordinación</a>
									{% endif %}
									{% if edit == False or edit == "logistica" %}
										<a class="nav-item nav-link {% if edit == 'logistica' or tab == 'logistica' %}active{% endif %}" id="nav-logistica-tab" data-toggle="tab" href="#nav-logistica" role="tab" aria-controls="nav-logistica" aria-selected="false">Logística</a>
									{% endif %}
									{% if edit == False or edit == "checklist" %}
										<a class="nav-item nav-link {% if edit == 'checklist' or tab == 'checklist' %}active{% endif %}" id="nav-checklist-tab" data-toggle="tab" href="#nav-checklist" role="tab" aria-controls="nav-checklist" aria-selected="false">Check-list</a>
									{% endif %}
									{% if edit == False or edit == "checkout" %}
										<a class="nav-item nav-link {% if edit == 'checkout' or tab == 'checkout' %}active{% endif %}" id="nav-checkout-tab" data-toggle="tab" href="#nav-checkout" role="tab" aria-controls="nav-checkout" aria-selected="false">Check-out</a>
									{% endif %}
								</div>
							</nav>-->

							<div class="tab-content pl-3 pt-2" id="nav-tabContent">

								{% if edit == False %}
									<div class="tab-pane fade show {% if tab == 'menu' %}active{% endif %}" id="nav-menu" role="tabpanel" aria-labelledby="nav-menu-tab">
										
										<div class="row">
											<div class="col-md-6" style="padding-bottom:1rem;">
												<button type="button" class="btn btn-lg btn-block" style="background-color:{% if evento.estado > 0 %}#28a745{% else %}#ffc107{% endif %}; color:white; height:10rem;" onclick="tabs('nav-coordinacion')" >Coordinación</button>
											</div>
											<div class="col-md-6" style="padding-bottom:1rem;">
												<button type="button" class="btn btn-lg btn-block" style="background-color:{% if evento.estado > 1 %}#28a745{% else %}#fd7e14{% endif %}; color:white; height:10rem;" onclick="tabs('nav-logistica')" >Logística</button>
											</div>
											<div class="col-md-6" style="padding-bottom:1rem;">
												<button type="button" class="btn btn-lg btn-block" style="background-color:{% if evento.estado > 2 %}#28a745{% else %}red{% endif %}; color:white; height:10rem;" onclick="tabs('nav-checklist')" >Check-list</button>
											</div>
											<div class="col-md-6" style="padding-bottom:1rem;">
												<button type="button" class="btn btn-lg btn-block" style="background-color:{% if evento.estado > 3 %}#28a745{% else %}#868e96{% endif %}; color:white; height:10rem;" onclick="tabs('nav-checkout')" >Check-out</button>
											</div>
										</div>

									</div>
								{% endif %}

							


<!-- Pestaña Coordinación -->
							{% if edit == False or edit == "coordinacion" %}
								<div class="tab-pane fade show {% if edit == 'coordinacion' or tab == 'coordinacion' %}active{% endif %}" id="nav-coordinacion" role="tabpanel" aria-labelledby="nav-coordinacion-tab">
									{% if edit == 'coordinacion' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value={{edit}} />
									{% endif %}
									<div class="row" >
										<div class="card-body">
											<button type="button" class="btn btn-primary" onclick="tabs('nav-menu')"><i class="fa fa-bars"></i>&nbsp; Menú</button>
										</div>
									</div>
									<div class="row">
										<div class="card-body">
											{% if edit == 'coordinacion' %}
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=coordinacion'"><i class="ti-pencil-alt"></i>&nbsp; Editar coordinación</button>
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Servicio</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
													  <tbody>
														<tr>
															<th scope="row">Contacto</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.Contacto.nombre != None %}{{evento.Contacto.nombre}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.Contacto}}</td>
																<td><button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "agregar_contacto_select" %}?evento={{evento.idEvento}}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo</button></td>
																<td>{{coordinacion_form.Contacto.errors}}</td>
															{% endif %}
														</tr>
														<tr>
														  <th scope="row">Fecha</th>
														  <td>{{evento.fecha}}</td>
														</tr>
														<tr>
															<th scope="row">Inicio</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.inicio_servicio != None %}{{evento.inicio_servicio}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.inicio_servicio}}</td>
																<td>{{coordinacion_form.inicio_servicio.errors}}</td>
															{% endif %}
														<tr>
															<th scope="row">Fin</th>
															{% if edit != 'coordinacion' %}
																<td>{% if evento.fin_servicio != None %}{{evento.fin_servicio}}{% else %} - {% endif %}</td>
															{% else %}
																<td>{{coordinacion_form.fin_servicio}}</td>
																<td>{{coordinacion_form.fin_servicio.errors}}</td>
															{% endif %}
														</tr>
														<tr>
															<th scope="row">Dirección</th>
															{% if edit != 'coordinacion' %}
																<td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{evento.direccion}}" >{% if evento.direccion != None %}{{evento.direccion}}{% else %} - {% endif %}</a></td>
															{% else %}
																<td>{{coordinacion_form.direccion}}</td>
																<td>{{coordinacion_form.direccion.errors}}</td>
															{% endif %}
														</tr>
													  </tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Montaje</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<tbody>
															<tr>
																<th rowspan="2" scope="row">Instalación</th>
																<td>Fecha</td>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.fecha_instalacion != None %}{{evento.fecha_instalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.fecha_instalacion}}</td>
																	<td>{{coordinacion_form.fecha_instalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<td>Hora</td>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.hora_instalacion != None %}{{evento.hora_instalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.hora_instalacion}}</td>
																	<td>{{coordinacion_form.hora_instalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th rowspan="2" scope="row">Desinstalación</th>
																<td>Fecha</td>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.fecha_desinstalacion != None %}{{evento.fecha_desinstalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.fecha_desinstalacion}}</td>
																	<td>{{coordinacion_form.fecha_desinstalacion.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<td>Hora</td>
																{% if edit != 'coordinacion' %}
																	<td>{% if evento.hora_desinstalacion != None %}{{evento.hora_desinstalacion}}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{coordinacion_form.hora_desinstalacion}}</td>
																	<td>{{coordinacion_form.hora_desinstalacion.errors}}</td>
																{% endif %}
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									{% if edit == 'coordinacion' %}
										<div class="row">
											<div class="card-body">
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											</div>
										</div>
										</form>
									{% endif %}
								</div>
							{% endif %}

<!-- Pestaña Logística -->
							{% if edit == False or edit == "logistica" %}
								<div class="tab-pane fade show {% if edit == 'logistica' or tab == 'logistica' %}active{% endif %}" id="nav-logistica" role="tabpanel" aria-labelledby="nav-logistica-tab">
									{% if edit == 'logistica' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value={{edit}} />
									{% endif %}
									<div class="row" >
										<div class="card-body">
											<button type="button" class="btn btn-primary" onclick="tabs('nav-menu')"><i class="fa fa-bars"></i>&nbsp; Menú</button>
										</div>
									</div>
									<div class="row">
										<div class="card-body">
											{% if edit == 'logistica' %}
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=logistica'"><i class="ti-pencil-alt"></i>&nbsp; Editar logística</button>
											{% endif %}
										</div>
									</div>
									<div class="row">

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Trabajadores</strong>
													{% if edit == 'logistica' %}
														<!--<button type="button" class="btn btn-success" onclick="location.href='{% url "agregar_trabajador" %}?evento={{evento.idEvento}}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo</button>-->
														<button id="btn_trabajador" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_trabajador"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo</button>
													{% endif %}
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<tbody>
															{% if edit != 'logistica' %}
																{% for cargo in cargos %}
																	<tr>
																		<th scope="row">{{cargo.nombre}}</th>
																		<td>
																			{% if evento.TrabajadoresEvento|cargo:cargo %}
																				{% for trabajador in evento.TrabajadoresEvento|cargo:cargo %}
																					{{trabajador.Trabajador.nombre}}<br>
																				{% endfor %}
																			{% else %} - {% endif %}
																		</td>
																	</tr>
																{% endfor %}
															{% else %}
																{% for cargo, field in cargos|zip:logistica_form %}
																	<tr>
																		<th scope="row">{{cargo.nombre}}</th>
																		<td>{{field}}</td>
																		<td>{{field.errors}}</td>
																	</tr>
																{% endfor %}
															{% endif %}

														<!--{% comment %}
															<tr>
																<th scope="row">Supervisor</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Supervisor" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Supervisor" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Supervisor}}</td>
																	<td>{{logistica_form.Supervisor.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Montaje</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Montaje" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Montaje" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Montaje}}</td>
																	<td>{{logistica_form.Montaje.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Desmontaje</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Desmontaje" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Desmontaje" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Desmontaje}}</td>
																	<td>{{logistica_form.Desmontaje.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Operador</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Operador" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Operador" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Operador}}</td>
																	<td>{{logistica_form.Operador.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Freelance</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Freelance" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Freelance" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Freelance}}</td>
																	<td>{{logistica_form.Freelance.errors}}</td>
																{% endif %}
															</tr>
															<tr>
																<th scope="row">Promotora</th>
																{% if edit != 'logistica' %}
																	<td>{% if evento.TrabajadoresEvento|tipo:"Promotora" %}{% for trabajador in evento.TrabajadoresEvento|tipo:"Promotora" %}{{trabajador.Trabajador.nombre}}<br>{% endfor %}{% else %} - {% endif %}</td>
																{% else %}
																	<td>{{logistica_form.Promotora}}</td>
																	<td>{{logistica_form.Promotora.errors}}</td>
																{% endif %}
															</tr>
														{% endcomment %}-->

														</tbody>
													</table>
												</div>
											</div>
										</div>





										{% for plan, planEvento in lista_planes|zip:evento.PlanesEvento.all %}
											{% for nPlan in  plan %}
												<div class="col-lg-6 col-sm-12">
													<div class="card">
														<div class="card-header">
															<strong class="card-title">{{planEvento.Plan.nombre}} {{forloop.counter}}</strong>
														</div>
														<div class="card-body">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th scope="col">Item</th>
																		<th scope="col">Estación</th>
																	</tr>
																</thead>
																<tbody>
																		{% for item, num, estacion, check in  nPlan %}
																			<tr>
																				<td>{{item.nombre}} {{num}}</td>
																				<td>
																					{% if estacion == None %}
																						 - 
																					{% elif edit == "logistica" %}
																						{{estacion}}
																					{% else %}
																						{{estacion.Estacion.nombre}}
																					{% endif %}
																				</td>
																			</tr>
																		{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											{% endfor %}
										{% endfor %}

									
									</div>

									{% if edit == 'logistica' %}
										<div class="row">
											<div class="card-body">
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											</div>
										</div>
										</form>
									{% endif %}
								</div>
							{% endif %}


<!-- Checklist -->
							{% if edit == False or edit == "checklist" %}
								<div class="tab-pane fade show {% if edit == 'checklist' or tab == 'checklist' %}active{% endif %}" id="nav-checklist" role="tabpanel" aria-labelledby="nav-checklist-tab">
									{% if edit == 'checklist' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value={{edit}} />
									{% endif %}
									<div class="row" >
										<div class="card-body">
											<button type="button" class="btn btn-primary" onclick="tabs('nav-menu')"><i class="fa fa-bars"></i>&nbsp; Menú</button>
										</div>
									</div>
									<div class="row">
										<div class="card-body">
											{% if edit == 'checklist' %}
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=checklist'"><i class="ti-pencil-alt"></i>&nbsp; Editar check-list</button>
											{% endif %}
										</div>
									</div>

									<div class="row">

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Tareas recurrentes</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<!--<thead>
															<tr>
																<th scope="col">Tarea</th>
																<th scope="col">Realizada</th>
															</tr>
														</thead>-->
														<tbody>
															{% if edit == "checklist" %}
																{% for tarea in lista_recurrentes %}
																	<tr>
																		<td>{{tarea.label}}</td>
																		<td>
																			<input type='hidden' value='Off' name={{tarea.name}}>
																			<label class="switch switch-3d switch-success switch-lg mr-3">{{tarea}}<span class="switch-label"></span> <span data-on="On" data-off="Off" class="switch-handle"></span></label>
																		</td>
																	</tr>
																{% endfor %}
															{% else %}
																{% for tarea, check in lista_recurrentes %}
																	<tr>
																		<td>{{tarea}}</td>
																		<td>
																			{% if check %}
																				<i class="ti-check text-success"></i>
																			{% else %}
																				<i class="ti-close text-danger"></i>
																			{% endif %}
																		</td>
																	</tr>
																{% endfor %}
															{% endif %}
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Cargar al camión</strong>
												</div>
												<div class="card-body">
													{% for plan, planEvento in lista_planes|zip:evento.PlanesEvento.all %}
														{% for nPlan in  plan %}
															<div class="row">
																<div class="col-lg-12 col-sm-12">
																	<div class="card">
																		<div class="card-header">
																			<strong class="card-title">{{planEvento.Plan.nombre}} {{forloop.counter}}</strong>
																		</div>
																		<div class="card-body">
																			<table class="table table-striped">
																				<thead>
																					<tr>
																						<th scope="col">Item</th>
																						<th scope="col">Estación</th>
																						<th scope="col">Cargado</th>
																					</tr>
																				</thead>
																				<tbody>
																						{% for item, num, estacion, check in  nPlan %}
																							<tr>
																								<td>{{item.nombre}} {{num}}</td>
																								<td>
																									{% if estacion == None %}
																										<b>Pendiente</b>
																									{% else %}
																										{{estacion.Estacion.nombre}}
																									{% endif %}
																								</td>
																								<td>
																									{% if estacion != None %}
																										{% if edit == "checklist" %}
																											<input type='hidden' value='Off' name={{check.name}}>
																											<td><label class="switch switch-3d switch-success switch-lg mr-3">{{check}}<span class="switch-label"></span> <span data-on="On" data-off="Off" class="switch-handle"></span></label></td>
																										{% else %}
																											{% if check %}
																												<i class="ti-check text-success"></i>
																											{% else %}
																												<i class="ti-close text-danger"></i>
																											{% endif %}
																										{% endif %}
																									{% endif %}
																								</td>
																							</tr>
																						{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														{% endfor %}
													{% endfor %}
												</div>
											</div>
										</div>

									</div>

									{% if edit == 'checklist' %}
										<div class="row">
											<div class="card-body">
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											</div>
										</div>
										</form>
									{% endif %}
								</div>
							{% endif %}



<!-- Checkout -->
							{% if edit == False or edit == "checkout" %}
								<div class="tab-pane fade show {% if edit == 'checkout' or tab == 'checkout' %}active{% endif %}" id="nav-checkout" role="tabpanel" aria-labelledby="nav-checkout-tab">
									{% if edit == 'checkout' %}
										<form id="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="evento" id="evento" value="{{evento.idEvento}}" />
											<input type="hidden" name="edit" id="edit" value={{edit}} />
									{% endif %}
									<div class="row" >
										<div class="card-body">
											<button type="button" class="btn btn-primary" onclick="tabs('nav-menu')"><i class="fa fa-bars"></i>&nbsp; Menú</button>
										</div>
									</div>
									<div class="row">
										<div class="card-body">
											{% if edit == 'checkout' %}
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											{% else %}
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}&edit=checkout'"><i class="ti-pencil-alt"></i>&nbsp; Editar check-out</button>
											{% endif %}
										</div>
									</div>

									<div class="row">

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Tareas pendientes</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<!--<thead>
															<tr>
																<th scope="col">Tarea</th>
																<th scope="col">Realizada</th>
															</tr>
														</thead>-->
														<tbody>
															{% if edit == "checkout" %}
																{% for tarea in lista_pendientes %}
																	<tr>
																		<td>{{tarea.label}}</td>
																		<td>
																			<input type='hidden' value='Off' name={{tarea.name}}>
																			<label class="switch switch-3d switch-success switch-lg mr-3">{{tarea}}<span class="switch-label"></span> <span data-on="On" data-off="Off" class="switch-handle"></span></label>
																		</td>
																	</tr>
																{% endfor %}
																<!--<tr>
																	<td>
																		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#smallmodal" ><i class="fa fa-book"></i>&nbsp; Reporte</button>
																	</td>
																	<td>
																		{% if evento.satisfaccion != None %}
																			<i class="ti-check text-success"></i>
																		{% else %}
																			<i class="ti-close text-danger"></i>
																		{% endif %}
																	</td>
																</tr>-->
															{% else %}
																{% for tarea, check in lista_pendientes %}
																	<tr>
																		<td>{{tarea}}</td>
																		<td>
																			{% if check %}
																				<i class="ti-check text-success"></i>
																			{% else %}
																				<i class="ti-close text-danger"></i>
																			{% endif %}
																		</td>
																	</tr>
																{% endfor %}
																<!--<tr>
																	<td>
																		Reporte
																	</td>
																	<td>
																		{% if evento.satisfaccion != None %}
																			<i class="ti-check text-success"></i>
																		{% else %}
																			<i class="ti-close text-danger"></i>
																		{% endif %}
																	</td>
																</tr>-->
															{% endif %}
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Pago trabajadores</strong>
												</div>
												<div class="card-body">
													<table class="table table-striped">
														<thead>
															<tr>
																<th scope="col">Trabajadores</th>
																<th scope="col">Cargo(s)</th>
																<th scope="col">Monto</th>
															</tr>
														</thead>
														<tbody>
															{% for trabajador in evento.Trabajadores.all.distinct %}
																<tr>
																	<td >{{trabajador.nombre}}</td>
																	<td>
																		{% for trabajadorEvento in evento.TrabajadoresEvento.all %}
																			{% if trabajadorEvento.Trabajador.nombre == trabajador.nombre %}
																				{{trabajadorEvento.Cargo.nombre}}
																			{% endif %}
																		{% endfor %}
																	</td>
																	<td>
																		-
																	</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-lg-12 col-sm-12">
											<div class="card">
												<div class="card-header">
													<strong class="card-title">Reportes</strong>
												</div>
												<div class="card-body">
													<div class="row">
														<div class="col-lg-6 col-sm-12">
															<div class="card">
																<div class="card-header">
																	<strong class="card-title">Satisfacción del cliente</strong>
																</div>
															<div class="card-body">
																<div class="row">
																	<div class="col-lg-12 col-sm-12">
																		{% if edit == "checkout" %}
																			<div class="row">
																				<div class="col-lg-12 col-sm-12">
																					{% for radio in reporte_form.satisfaccion %}
																						<div class="radio">
																							{{radio.tag}}
																							{% if forloop.counter == 1 %}
																								<label for="radio1" class="form-check-label" style="color:green; font-size:1.2rem;">
																									<img class="rounded-circle" src="{% static 'images/smiles/5.png' %}" style="height:1.5rem;">&nbsp; Muy contento
																								</label>
																							{% elif forloop.counter == 2 %}
																								<label for="radio1" class="form-check-label" style="color:cyan; font-size:1.2rem;">
																									<img class="rounded-circle" src="{% static 'images/smiles/4.png' %}" style="height:1.5rem;">&nbsp; Contento
																								</label>
																							{% elif forloop.counter == 3 %}
																								<label for="radio1" class="form-check-label" style="color:yellow; font-size:1.2rem;">
																									<img class="rounded-circle" src="{% static 'images/smiles/3.png' %}" style="height:1.5rem;">&nbsp; Aceptable
																								</label>
																							{% elif forloop.counter == 4 %}
																								<label for="radio1" class="form-check-label" style="color:orange; font-size:1.2rem;">
																									<img class="rounded-circle" src="{% static 'images/smiles/2.png' %}" style="height:1.5rem;">&nbsp; Descontento
																								</label>
																							{% elif forloop.counter == 5 %}
																								<label for="radio1" class="form-check-label" style="color:red; font-size:1.2rem;">
																									<img class="rounded-circle" src="{% static 'images/smiles/1.png' %}" style="height:1.5rem;">&nbsp; Muy descontento
																								</label>
																							{% endif %}
																						</div>
																					{% endfor %}

																				</div>
																			</div>
																			<div class="row">
																				<div class="col-lg-12 col-sm-12" style="padding-top:1rem">
																					{{reporte_form.comentarios_satisfaccion}}
																				</div>
																			</div>
																		{% else %}
																			<div class="row">
																				<div class="col-lg-12 col-sm-12">
																					{% if evento.satisfaccion == None %}
																						<b>No evaluado</b>
																					{% elif evento.satisfaccion == 5 %}
																						<label style="color:green; font-size:1.2rem;">
																							<img class="rounded-circle" src="{% static 'images/smiles/5.png' %}" style="height:1.5rem;">&nbsp; Muy contento
																						</label>
																					{% elif evento.satisfaccion == 4 %}
																						<label style="color:cyan; font-size:1.2rem;">
																							<img class="rounded-circle" src="{% static 'images/smiles/4.png' %}" style="height:1.5rem;">&nbsp; Contento
																						</label>
																					{% elif evento.satisfaccion == 3 %}
																						<label style="color:yellow; font-size:1.2rem;">
																							<img class="rounded-circle" src="{% static 'images/smiles/3.png' %}" style="height:1.5rem;">&nbsp; Aceptable
																						</label>
																					{% elif evento.satisfaccion == 2 %}
																						<label style="color:orange; font-size:1.2rem;">
																							<img class="rounded-circle" src="{% static 'images/smiles/2.png' %}" style="height:1.5rem;">&nbsp; Descontento
																						</label>
																					{% elif evento.satisfaccion == 1 %}
																						<label style="color:red; font-size:1.2rem;">
																							<img class="rounded-circle" src="{% static 'images/smiles/1.png' %}" style="height:1.5rem;">&nbsp; Muy descontento
																						</label>
																					{% endif %}
																				</div>
																			</div>

																			<div class="row">
																				<div class="col-lg-12 col-sm-12" style="padding-top:1rem;">
																					{% if evento.comentarios_satisfaccion == "" %}
																						 - 
																					{% else %}
																						{{evento.comentarios_satisfaccion}}
																					{% endif %}
																				</div>
																			</div>
																		{% endif %}
																	</div>
																</div>
															</div>
															</div>
														</div>

														<div class="col-lg-6 col-sm-12">
															<div class="card">
																<div class="card-header">
																	<strong class="card-title">Errores técnicos</strong>
																</div>
															<div class="card-body">
																<div class="row">
																	<div class="col-lg-12 col-sm-12">
																		<table class="table table-striped">
																		<tbody>
																			{% if edit == "checkout" %}
																				{% for field in reporte_form %}
																					{% if "error" in field.name %}
																						<tr><td>{{field}}</td></tr>
																					{% endif %}
																				{% endfor %}
																			{% else %}
																				{% if evento.Errores.count == 0 %}
																					 - 
																				{% else %}
																					{% for error in evento.Errores.all %}
																						<tr><td>{{error.error}}</td></tr>
																					{% endfor %}
																				{% endif %}
																			{% endif %}
																		</tbody>
																		</table>
																	</div>
																</div>
																{% if edit == "checkout" %}
																	<div class="row" >
																		<input type="hidden" name="nErrores" id="nErrores" value="{{nErrores}}" />
																		<div class="col col-sm-4">
																			<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-primary" onclick="agregar_o_quitar(1)"><i class="fa fa-plus-circle"></i>&nbsp; Agregar error</button></div>
																		</div>
																		<div class="col col-sm-2">
																			<div style="padding-bottom:1em" ><button type="button" class="btn btn-outline-danger" onclick="agregar_o_quitar(-1)"><i class="fa fa-minus-circle"></i>&nbsp; Quitar error</button></div>
																		</div>
																	</div>
																{% endif %}
															</div>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>
									{% if edit == 'checkout' %}
										<div class="row">
											<div class="card-body">
												<button type="submit" class="btn btn-success" ><i class="ti-save"></i>&nbsp; Guardar</button>
												<button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "evento" %}?evento={{evento.idEvento}}'"><i class="ti-back-left"></i>&nbsp; Volver</button>
											</div>
										</div>
										</form>
									{% endif %}
								</div>
							{% endif %}

							</div>
						</div>
					</div>

				</div>



				


			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


	<script >
		function agregar_o_quitar(n) {
			document.getElementById('nErrores').value=Number('{{nErrores}}') + n;
			document.getElementById('form').submit();
		}
	</script>


	{% if error == True %}
		<button id="error" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#modal_error">Small</button>

		<div class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-labelledby="modal_errorLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_errorLabel">Error</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							Hubo un error actualizando uno de los datos, revisar.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
		<script>
			$( document ).ready(function() {
				document.getElementById("error").click();
			});
		</script>
	{% endif %}


	{% if edit == "logistica" %}
		<div class="modal fade" id="modal_trabajador" tabindex="-1" role="dialog" aria-labelledby="modal_trabajadorLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_trabajadorLabel">Nuevo trabajador</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
						<div class="modal-body">
							<input type="hidden" name="trabajador_nuevo" id="trabajador_nuevo" value="True" />
							 {% for field in trabajador_nuevo_form %}
								<div class="row form-group {% if field.error %} alert alert-error {% endif %}">
									<div class="col-lg-2 col-sm-3"><label for="text-input" class=" form-control-label">{{field.label}}{% if field.field.required %} *{% endif %}</label></div>
									<div class="col-lg-5 col-sm-5">{{field}}</div>
									<div class="col-lg-5 col-sm-4">{{field.errors}}</div>
								</div>
							{% endfor %}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success" onclick="submit_modal('modal_trabajador')" ><i class="ti-save"></i>&nbsp; Guardar</button>
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="ti-back-left"></i>&nbsp; Cancelar</button>
						</div>
					
				</div>
			</div>
		</div>

		{% if valid_trabajador == False %}
			<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
			<script>
				$( document ).ready(function() {
				document.getElementById("btn_trabajador").click();
				});
			</script>
		{% endif %}
	{% endif %}
	

	<script>
		function submit_modal(modal) {
			modal = document.getElementById(modal);
			form = document.getElementById('form');
			form.appendChild(modal)
			form.submit()
		}
	</script>

	<script>
		function tabs(tab) {
			document.getElementById("nav-menu").classList.remove("active");
			document.getElementById("nav-coordinacion").classList.remove("active");
			document.getElementById("nav-logistica").classList.remove("active");
			document.getElementById("nav-checklist").classList.remove("active");
			document.getElementById("nav-checkout").classList.remove("active");

			document.getElementById(tab).classList.add("active");
		}
	</script>

{% endblock %}