{% extends "Base/base.html" %}
{% load staticfiles %}

<!-- Activo en el menu: -->
{% block index-li %} active {% endblock %}
{% block titulo %}Inicio{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Inicio</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li class="active">Inicio</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Clientes</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li class="active">Clientes</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->

		<div class="content mt-3">
            <div class="animated fadeIn">

				<div class="row">

					<div class="col-lg-6 col-sm-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Eventos</strong>
							</div>
							<div class="card-body">
					  <table id="bootstrap-data-table" class="table table-striped table-bordered">
						<tbody>
							<tr>
								<th scope="row" >Próximos 7 días</th>
								<td>{{semanas1}}</td>
							</tr>
							<tr>
								<th scope="row" >Próximos 14 días</th>
								<td>{{semanas2}}</td>
							</tr>
							<tr>
								<th scope="row" >Próximos 30 días</th>
								<td>{{mes}}</td>
							</tr>
							<tr>
								<th scope="row" >Totales</th>
								<td>{{totales}}</td>
							</tr>
						</tbody>
					  </table>
							</div>
						</div>
					</div>
				


					<div class="col-lg-6 col-sm-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Errores técnicos</strong>
							</div>
							<div class="card-body">
					  <table id="bootstrap-data-table" class="table table-striped table-bordered">
					  	<thead>
					  		<tr>
					  			<th>Evento</th>
					  			<th>Descripción</th>
					  		</tr>
					  	</thead>
						<tbody>
							{% for error in errores %}
								<tr>
									{% if error.Evento == None %}
										<td> - </td>
									{% else %}
										<td><a href="{% url 'evento' %}?evento={{error.Evento.idEvento}}" style="color:#007bff; text-decoration: underline;" >{{error.Evento.idEvento}}</a></td>
									{% endif %}
									<td>{{error.error}}</td>
								</tr>
							{% endfor %}
						</tbody>
					  </table>
							</div>
						</div>
					</div>



					<div class="col-lg-6 col-sm-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Satisfacción del cliente</strong>
							</div>
							<div class="card-body">
					  <table id="bootstrap-data-table" class="table table-striped table-bordered">
					  	<thead>
					  		<tr>
					  			<th>Satisfacción</th>
					  			<th>Eventos</th>
					  			<th>Porcentaje</th>
					  		</tr>
					  	</thead>
						<tbody>
							<tr>
								<td>
									<label style="color:green; font-size:1.2rem;">
									<img class="rounded-circle" src="{% static 'images/smiles/5.png' %}" style="height:1.5rem;">&nbsp; Muy contento
									</label>
								</td>
								<td>{{s5}}</td>
								<td>{{sp5}}%</td>
							</tr>
							<tr>
								<td>
									<label style="color:cyan; font-size:1.2rem;">
									<img class="rounded-circle" src="{% static 'images/smiles/4.png' %}" style="height:1.5rem;">&nbsp; Contento
									</label>
								</td>
								<td>{{s4}}</td>
								<td>{{sp4}}%</td>
							</tr>
							<tr>
								<td>
									<label style="color:yellow; font-size:1.2rem;">
									<img class="rounded-circle" src="{% static 'images/smiles/3.png' %}" style="height:1.5rem;">&nbsp; Aceptable
									</label>
								</td>
								<td>{{s3}}</td>
								<td>{{sp3}}%</td>
							</tr>
							<tr>
								<td>
									<label style="color:orange; font-size:1.2rem;">
									<img class="rounded-circle" src="{% static 'images/smiles/2.png' %}" style="height:1.5rem;">&nbsp; Descontento
									</label>
								</td>
								<td>{{s2}}</td>
								<td>{{sp2}}%</td>
							</tr>
							<tr>
								<td>
									<label style="color:red; font-size:1.2rem;">
									<img class="rounded-circle" src="{% static 'images/smiles/1.png' %}" style="height:1.5rem;">&nbsp; Muy descontento
									</label>
								</td>
								<td>{{s1}}</td>
								<td>{{sp1}}%</td>
							</tr>
						</tbody>
					  </table>
							</div>
						</div>
					</div>

				</div>
				
			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->

{% endblock %}