{% extends "Base/base.html" %}
{% load staticfiles %}

<!-- Activo en el menu: -->
{% block menuPlanes-li %} active {% endblock %}
{% block items-li %} active {% endblock %}
{% block titulo %}Items{% endblock %}

{% block content %}
	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<header id="header" class="header">
			<div class="header-menu">

				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">

						<div class="page-header float-left">
							<div class="page-title">
								<h1>Items</h1>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-8">
					<div class="breadcrumbs">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li class="active">Items</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>
<!--
		<div class="breadcrumbs">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Items</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li class="active">Items</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
-->
		<div class="content mt-3">
            <div class="animated fadeIn">
                
                <div class="row">
					<div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-tablet text-primary border-primary"></i></div> <!--success/primary/warning/danger -->
                                    <div class="stat-content dib">
                                        <div class="stat-text">Items</div>
                                        <div class="stat-digit">{{items.count}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


				<div class="row">
					<div class="card-body">
						<button type="button" class="btn btn-outline-success" onclick="location.href='{% url "agregar_item" %}'"><i class="fa fa-plus-circle"></i>&nbsp; Nuevo item</button>
						<button type="button" class="btn btn-outline-primary" onclick="mostrar();"><i class="ti-pencil-alt"></i>&nbsp; Editar items</button>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<!--<div class="card-header">
								<strong class="card-title">Items</strong>
							</div>-->
							<div class="card-body">
					  <table id="bootstrap-data-table" class="table table-striped table-bordered">
						<thead>
						  <tr>
							{% for titulo in titulos %}
								<th scope="col">{{titulo}}</th>
							{% endfor %}
						  </tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<th scope="row" id="td_{{item.idItem}}">
										{{item.idItem}}
										<a style="visibility:hidden" href='{% url "editar_item" %}?item={{item.idItem}}' ><i class="ti-pencil-alt text-primary"></i></a>
										<a style="visibility:hidden" href="javascript:void(0)" onclick="eliminar('{{item.nombre}}', '{{item.idItem}}');" ><i class="fa fa-minus-circle text-danger"></i></a>
									</th>
									<td>{{item.nombre}}</td>
									<td>{% if item.multiple %}<i class="ti-check text-success"></i>{% else %}<i class="ti-close text-danger"></i>{% endif %}</td>
								</tr>
							{% endfor %}
						</tbody>
					  </table>
							</div>
						</div>
					</div>
				</div>

			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


	<script type="text/javascript">
		var visible = false;
		function mostrar() {
			visible = !visible;
			var botones, i;
			{% for item in items %}
				try {
					botones = document.getElementById("td_" + {{item.idItem}}).children;
					for (i=0; i<botones.length; i++) {
						//if (botones[i].style.visibility == "hidden") {
						if (visible) {
							botones[i].style.visibility = "visible";
						}
						else {
							botones[i].style.visibility = "hidden";
						}
					}
				}
				catch(err) {}
			{% endfor %}
		}
	</script>


	<button id="eliminar" type="button" style="display:none" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">Small</button>

	<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="h5_eliminar" class="modal-title" id="smallmodalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="p_eliminar">
						¿Estas seguro?
					</p>
				</div>
				<div class="modal-footer">
					<button id="boton_eliminar" type="button" onclick="" class="btn btn-outline-danger" >Eliminar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					
				</div>
			</div>
		</div>
	</div>

	
	<script>
		function eliminar(nombre, id) {
			//document.getElementById("p_eliminar").innerHTML = "";
			document.getElementById("h5_eliminar").innerHTML = "Eliminar plan " + nombre;
			document.getElementById("boton_eliminar").onclick = function(){location.href='{% url "eliminar_item" %}?item=' + id};
			document.getElementById("eliminar").click();
		}
	</script>
	


{% endblock %}